<!-- Footer -->
<footer class="main-footer">
    <strong>FullStack 2310-13 Sınıfı Tarafından Hazırlanmıştır 2024</a>.</strong>
    Tüm hakları saklıdır.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>