<div class="container w-50">
    <h1 class="display-4 text-center mt-3">Şifre Sıfırlama</h1>
    <hr />
    <form asp-area="" asp-controller="Account" asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="d-flex flex-column">
            <label class="form-label mb-3">Eposta adresinizi giriniz.</label>
            <input class="form-control mb-3" name="email" />
        </div>
        <button class="btn btn-primary btn-block">Şifre Sıfırla</button>
    </form>
</div>