@model ResetPasswordViewModel
<div class="container w-25">
    <h1 class="display-4 text-primary"></h1>
    <hr />
    <div class="d-flex flex-column">
        <form asp-area="" asp-controller="Account" asp-action="ResetPassword" method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-group mb-2">
                <input asp-for="Password" class="form-control" />
                <label asp-for="Password">Şifre</label>
            </div>
            <div class="form-group mb-2">
                <input asp-for="RePassword" class="form-control" />
                <label asp-for="RePassword">Şifre</label>
            </div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="TokenCode" />
            <button class="btn btn-success btn-block">Şifreyi Onayla</button>
        </form>
    </div>
</div>