@model ProductViewModel
<div class="card col-md-3 ">
    <img src="https://picsum.photos/150/100?random=@Model.Id" class="card-img-top m-auto" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Price</p>
        <a href="#" class="btn btn-warning">İncele</a>
    </div>
</div>