:root {
    --bg-dark: #005670;
    --bg-light: #74d2e7;
    --bg-primary: #0085ad;
    --bg-secondary: #48a9c5;
    --bg-success: #009f4d;
    --bg-danger: #e4002b;
    --bg-warning: #fe5000;
    --bg-gray: #52565e;

    --text-dark: #4298b5;
    --text-light: #8db9ca;
    --text-primary: #00205b;
    --text-secondary: #da1884;
    --text-success: #84bd00;
    --text-danger: #a51890;
    --text-warning: #efdf00;
    --text-gray: #f3f4f7;
    --text-white: whitesmoke;
}