@using Proje06_MvcWithSql.ViewModels
@model List<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
    List<ProductViewModel> productList = Model;
}

<div>
    @foreach (ProductViewModel p in productList)
    {
        <p>@p.Name</p>
    }
    @* @{
    foreach (ProductViewModel p in productList)
    {
    <p>@p.Name</p>
    } *@

</div>
