@model EditProductViewModel
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ürün Güncelleme</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <form asp-area="Admin"
                          asp-controller="Product"
                          asp-action="Edit"
                          method="post">
                        <!-- Ürün Bilgileri -->
                        <div class="card card-success">
                            <div class="card-header">
                                <h3 class="card-title">Ürün Bilgileri</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="Name"></label>
                                            <input asp-for="Name" type="text" class="form-control" placeholder="Ürün adını giriniz...">
                                        </div>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="Price"></label>
                                            <input asp-for="Price" type="text" class="form-control" placeholder="Ürün fiyatını giriniz...">
                                        </div>
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label asp-for="ImageUrl"></label>
                                            <input asp-for="ImageUrl" type="text" class="form-control" placeholder="Ürün görsel urlini giriniz...">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="ml-3"> Seçenekler</label>
                                        <div class="form-group d-flex">
                                            <div class="icheck-primary ml-3">
                                                <input asp-for="IsHome" type="checkbox">
                                                <label asp-for="IsHome" for="IsHome">
                                                </label>
                                            </div>
                                            <div class="icheck-primary ml-3">
                                                <input asp-for="IsActive" type="checkbox">
                                                <label asp-for="IsActive" for="IsActive">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <label>Properties</label>
                                        <textarea asp-for="Properties">Place <em>some</em> <u>text</u> <strong>here</strong></textarea>
                                    </div>
                                    <span asp-validation-for="Properties" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Kategoriler -->
                        <div class="card card-warning">
                            <div class="card-header">
                                <h3 class="card-title">Kategori Bilgileri (En az bir kategori seçilmelidir.)</h3>
                            </div>
                            <div class="card-body">
                                @foreach (var c in Model.Categories)
                                {
                                    <div class="icheck-primary d-inline mr-3">
                                        <input name="categoryIds" value="@c.Id" id="categoryCheckBox_@c.Id" type="checkbox"
                                        @(Model.CategoryIds.Any(catId => catId == c.Id) ? "checked" : "")>
                                        <label for="categoryCheckBox_@c.Id">@c.Name</label>
                                    </div>
                                }
                                <span class="text-danger">@ViewBag.CategoryErrorMessage</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button type="submit"
                                    class="btn btn-primary btn-block btn-lg">Değişiklikleri Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>


@section Styles{
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="~/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- summernote -->
    <link rel="stylesheet" href="../../plugins/summernote/summernote-bs4.min.css">
}

@section Scripts{
    <!-- Summernote -->
    <script src="../../plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        $('#Properties').summernote()
    </script>
}