<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Js</title>
</head>

<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus minus officia beatae iusto deleniti
        exercitationem cum a quisquam laboriosam nostrum ipsam impedit ex voluptate, placeat ea autem, iure, vel eum
        odio! Soluta, quo! Nemo rerum veritatis expedita ab dicta error enim itaque, debitis ipsam sequi? Assumenda,
        facere corrupti. Sit magnam vel hic eos veritatis labore nostrum illum eveniet natus dolores exercitationem
        voluptate mollitia id quia, possimus placeat deleniti nihil molestias voluptates ipsa. Quidem quibusdam atque,
        iure sapiente assumenda officia voluptate optio quod incidunt inventore. Enim quam amet eius ab nemo omnis
        distinctio odit, laborum illo asperiores, praesentium nihil! Neque aspernatur dolore aliquid. Animi vel tenetur
        ut reiciendis omnis, ducimus nihil, accusantium, ullam natus possimus atque odit commodi neque beatae explicabo
        nostrum hic sapiente aliquid numquam. Veritatis accusamus facilis illum amet ipsam nesciunt id, maxime
        asperiores repellat voluptates consequuntur doloribus dolorem quidem magni deserunt eveniet nisi, inventore
        dolorum fuga! Possimus a iure omnis dignissimos ab odio ipsa nesciunt deserunt. Deleniti ex ut, sapiente quae
        minima voluptatibus beatae delectus culpa provident error. Ab, eaque ducimus, atque deleniti magni culpa impedit
        distinctio aliquid corrupti, eum vitae voluptatem quaerat. Vel consectetur minus quibusdam distinctio eius
        impedit, vero commodi officiis ab accusantium! Excepturi expedita consectetur sapiente, at minima ipsam. Placeat
        accusamus nemo quae ipsam, veniam nulla aspernatur provident at ad necessitatibus tempora quis reiciendis sint
        dolore. Suscipit similique obcaecati dolorum neque eum aut sit ex, ratione aperiam veritatis molestiae placeat
        odit tenetur labore consectetur blanditiis, id asperiores rerum illum? Laudantium quisquam facilis sint minima
        libero?</p>
</body>

</html>