@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Resim Yükleme</h1>
    <form asp-area=""
    asp-controller="Home"
    asp-action="UploadImage"
    method="post"
    enctype="multipart/form-data"
    >
    <div class="mb-3 w-25 m-auto">
        <label for="formFile" class="form-label">Resim yüklemek için tıklayınız.</label>
        <input class="form-control" type="file" id="formFile" name="image">
    </div>
        <button class="btn btn-success" type="submit">Gönder</button>
    </form>
    <span class="text-danger">@ViewBag.Message</span>
    @* @(ViewBag.Status ? "text-success" : "text-danger") *@
</div>
